/* Navigation Section */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}


.top-navigation .links {
	float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}



.top-navigation .links li {
	display: inline-block;
    margin-left: 25px;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    color: white;
}

h1, h3 {
    text-align: center;
    font-weight: 300;
}

h1 {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.85em;
    padding-top: 3.5em;
    font-size: 3.125rem;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin-top: 60em;
    font-size: 2.75rem;
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;   
}

h3 {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.563rem;
    margin-top: 0.5em;
}

button {
    display: block;
    margin: 0 auto;

    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.cases {
    background-color: white;
    margin-bottom: 2em;
}

.cases > .content {
    margin: 0 auto;
    width: 970px;
    color: black;
    margin-bottom: 2em;
}

.cases h2 {
    text-align: center;
    margin-top: 1.625em;
    font-size: 2.75rem;
    margin-right: auto;
    margin-left: auto;
    font-weight: 300;
}

.cases .devices {
    width: 33.3333333%;
    float: left;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 4em;
    text-align: center;
    padding: 0;
    vertical-align: baseline;
    font-size: 1.563rem;
    font-weight: 400;
    
}

.cases img {
    width: 127px;
    height: 127px;
}